.sidebar {
    width: var(--sidebar-width);
    background: var(--sidebar-bg-color);
    transition: width var(--transition-fast);
    height: 100vh;
}

.nav-link {
    color: var(--nav-link-color);
    line-height: 1.2;
}

.nav-link.active {
    background-color: var(--active-bg);
    color: var(--nav-link-active-color);
}

.nav-link:hover {
    background-color: var(--hover-bg);
    color: var(--nav-link-active-color);
}

.nav-link-icon {
    font-size: 1.25rem;
}

#sidebar-toggle {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    color: var(--nav-link-color);
    transition: align-self var(--transition-fast);
    align-self: flex-end;
}

#sidebar-toggle:hover {
    color: var(--active-bg);
}

.sidebar-collapsed #sidebar-toggle {
    align-self: center;
}

.sidebar-collapsed .sidebar {
    width: var(--sidebar-collapsed-width);
}

.sidebar-collapsed .main-content {
    margin-left: var(--sidebar-collapsed-width);
}

.sidebar-collapsed .nav-link-text {
    display: none;
}

.sidebar-collapsed .nav-link {
    justify-content: center;
}

.main-content {
    background-color: var(--main-bg-color);
    margin-left: var(--sidebar-width);
    transition: margin-left var(--transition-fast);
    padding: 2rem;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

@media (max-width: 767.98px) {

    #sidebar-toggle,
    .sidebar-collapsed #sidebar-toggle {
        align-self: auto;
        margin: 0;
    }

    .sidebar-header img {
        max-height: 5rem;
    }

    .sidebar {
        height: auto;
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #dee2e6;

        /* This prevents transition when resizing window */
        transition: none;
    }


    /*
    * Override the desktop collapsed margin. On mobile, the margin
    * should always be 0, regardless of the sidebar state.
    */
    .sidebar-collapsed .main-content {
        margin-left: 0;
    }

    .main-content {
        margin-left: 0;
        transition: none;
        display: block;
        padding: 1rem;
    }

    .sidebar-menu,
    .sidebar-footer {
        overflow: hidden;
    }

    .sidebar-collapsed .sidebar-menu,
    .sidebar-collapsed .sidebar-footer {
        height: 0;
    }

    /* On mobile, ensure the sidebar itself remains full-width when collapsed */
    .sidebar-collapsed .sidebar {
        width: 100%;
    }

    /* On mobile, the logo and nav link text should always be visible */
    .sidebar-collapsed .sidebar-header img,
    .sidebar-collapsed .nav-link span {
        display: block;
    }

    /* Override desktop collapse rule that centers nav links */
    .sidebar-collapsed .nav-link {
        justify-content: flex-start;
    }
}
