.sidebar {
    width: var(--sidebar-width);
    background: var(--sidebar-bg-color);
    transition: width var(--transition-fast);
}

.nav-link {
    color: var(--nav-link-color);
    line-height: 1.2;
}

.nav-link.active {
    background-color: var(--active-bg);
    color: var(--nav-link-active-color);
}

.nav-link:hover {
    background-color: var(--hover-bg);
    color: var(--nav-link-active-color);
}

.nav-link-icon {
    font-size: 1.25rem;
}

#sidebar-toggle {
    align-self: end;
    /* margin-right: 0.5rem; */
    font-size: 1.5rem;
    color: var(--nav-link-color);
    transition: align-self var(--transition-fast);
}

.sidebar-collapsed #sidebar-toggle {
    align-self: center;
    margin: 0;
}

#sidebar-toggle:hover {
    color: var(--active-bg);
}

.sidebar-collapsed .sidebar {
    width: var(--sidebar-collapsed-width);
}

.sidebar-collapsed .main-content {
    margin-left: var(--sidebar-collapsed-width);
}

.sidebar-collapsed .nav-link-text {
    display: none;
}

.sidebar-collapsed .nav-link {
    justify-content: center;
}


/* .sidebar {
    background: var(--sidebar-bg-color);
    border-right: 1px solid #dee2e6;
    transition: width var(--transition-fast);
    z-index: 1020;
    padding: 0;
}

.sidebar-header img {
    aspect-ratio: 1/1;
    max-height: 15rem;
}




.
}
 */






/* On mobile, the logo and nav link text should always be visible */
/* .sidebar-collapsed .sidebar-header img,
    .sidebar-collapsed .nav-link span {
        opacity: 1;
        width: auto;
        height: auto;
        pointer-events: auto;
    } */

/* Override desktop collapse rule that centers nav links */
/* .sidebar-collapsed .nav-link {
        justify-content: flex-start;
    } */

}
