<link rel="stylesheet" href="/css/pages/login.css">
<!-- <script type="module" src="/js/pages/login.js"></script> -->

<div class="container-fluid d-flex align-items-center justify-content-center min-vh-100 bg-image">
  <div class="row justify-content-center">
    <div class="col d-flex justify-content-center">
      <div class="card mx-auto p-2" style="max-width: 400px;">
        <img src="/images/upatras_long.png" alt="University of Patras" class="card-img-top py-2 px-4">
        <form class="card-body" id="loginForm" method="post" action="/login">
          <fieldset class="mb-4">
            <label for="username" class="form-label">Όνομα Χρήστη</label>
            <div class="input-group">
              <span class="input-group-text">
                <i role="img" class="bi bi-person-fill"></i>
              </span>
              <input type="text" class="form-control" id="username" placeholder="Εισάγετε το όνομα χρήστη σας."
                required>
            </div>
          </fieldset>
          <fieldset class="mb-4">
            <label for="password" class="form-label">Κωδικός Χρήστη</label>
            <div class="input-group">
              <span class="input-group-text">
                <i role="img" class="bi bi-lock-fill"></i>
              </span>
              <input type="password" class="form-control" id="password" placeholder="Εισάγετε τον κωδικό σας" required>
            </div>
          </fieldset>
          <div id="loginAlert" class="mb-4 alert alert-danger d-none d-flex align-items-center" role="alert">
            <i role="img" class="bi bi-person-fill-dash me-3"></i>
            <span id="loginAlertMessage">
              Λάθος όνομα χρήστη ή κωδικός. Παρακαλώ δοκιμάστε ξανά.
            </span>
          </div>
          <button type="submit" class="btn btn-primary w-100">Σύνδεση</button>
        </form>
      </div>
    </div>
  </div>
</div>
