<div class="container">
  <h2 class="mb-4">Διαχείριση Διπλωματικών Εργασιών</h2>

  <form class="mb-4" id="filters">
    <legend class="visually-hidden">Φίλτρα Διπλωματικών</legend>
    <div class="row g-2">
      <div class="col-12">
        <label class="form-label" for="search-input">Αναζήτηση</label>
        <div class="input-group">
          <input type="text" class="form-control" id="search-input"
              name="search" placeholder="Όνομα θέματος ή φοιτητή...">
          <button class="btn btn-outline-secondary" aria-label="Αναζήτηση"
              type="submit">
            <i class="bi bi-search" aria-hidden="true"></i>
          </button>
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <label for="status-select" class="form-label">Κατάσταση</label>
        <select class="form-select" name="status" id="status-select">
          <!-- Added dynamically -->
        </select>
      </div>

      <div class="col-12 col-lg-6">
        <label for="role-select" class="form-label">Ρόλος</label>
        <select class="form-select" name="role" id="role-select">
          <!-- Added dynamically -->
        </select>
      </div>

      <div class="col-12 col-sm-6 col-lg-auto pt-2">
        <button type="submit" class="btn btn-primary w-100">
          <i class="bi bi-funnel-fill me-1" aria-hidden="true"></i>
          Εφαρμογή
        </button>
      </div>

      <div class="col-12 col-sm-6 col-lg-auto pt-2">
        <button type="reset" class="btn btn-secondary w-100">
          <i class="bi bi-arrow-counterclockwise me-1" aria-hidden="true"></i>
          Επαναφορά
        </button>
      </div>

      <div class="col-12 col-sm-6 col-lg-auto pt-2">
        <button type="button" class="btn btn-dark w-100" id="export-json-btn"
            title="Εξαγωγή σε JSON">
          <i class="bi bi-file-earmark-arrow-down-fill me-1"
              aria-hidden="true"></i>
          Εξαγωγή σε JSON
        </button>
      </div>

      <div class="col-12 col-sm-6 col-lg-auto pt-2">
        <button type="button" class="btn btn-dark w-100" id="export-csv-btn"
            title="Εξαγωγή σε CSV">
          <i class="bi bi-file-earmark-spreadsheet-fill me-1"
              aria-hidden="true"></i>
          Εξαγωγή σε CSV
        </button>
      </div>
    </div>
  </form>

  <div class="mb-4">
    <p class="text-muted">
      Επιλέξτε μια διπλωματική για περισσότερες λεπτομέρειες.
    </p>
  </div>

  <select class="form-select form-select-sm w-auto mb-4" id="page-size-select">
    <!-- Added dynamically -->
  </select>


  <div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3 g-4 mb-4"
      id="theses-card-list">
    <!-- Cards will be dynamically inserted here -->
  </div>

  <div id="page-nav-container">
    <%- include('../../components/page-nav') %>
  </div>

  <%- include('./theses-details') %>
</div>

<script src="/js/components/page-nav.js"></script>
<script src="/js/pages/professor/theses-list.js"></script>
<script src="/js/pages/professor/theses-details.js"></script>