.bg-image {
    background: url('/images/upatras_skyshot.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.login-button {
    background-color: var(--dark-brown);
}
