<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../components/head', { title: title }) %>
  <link rel="stylesheet" href="/css/pages/student.css">
  <script src="/js/pages/student.js"></script>
</head>

<body>
  <%- include('../components/sidebar', { links: links }) %>
  <main class="main-content">
    <%- body %>
  </main>
</body>
