<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../components/head', { title: title }) %>
  <link rel="stylesheet" href="/css/sidebar.css" />
  <script src="/js/sidebar.js"></script>
  <link rel="preload" href="/images/upatras_logo.gif" as="image">
</head>

<body>
  <%- include('../components/sidebar', { links: links }) %>
  <main class="main-content">
    <%- body %>
  </main>
</body>
