<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
  Θησέας - <%= title %>
</title>

<!-- Bootstrap (with custom theme) -->
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/bootstrap-icons.css">
<script src="/js/bootstrap.bundle.min.js"></script>

<!-- Favicons -->
<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
<link rel="shortcut icon" href="/favicon.ico">

<!-- Custom Styles -->
<link rel="stylesheet" href="/css/main.css">

<!-- Custom Scripts -->
<script src="/js/tooltips.js"></script>
<script src="/js/ui.js"></script>
<script src="/js/misc.js"></script>
<script src="/js/api.js"></script>
