<div
    class="row g-4 align-items-center justify-content-center justify-content-lg-between mb-3">
  <div class="col-12 col-lg-auto text-muted">
    <span class="item-count"></span> αποτελέσματα
  </div>
  <div class="col-12 col-lg-auto">

    <nav aria-label="Περιήγηση σελίδων">
      <ul class="pagination mb-0 justify-content-center">
        <li class="page-item">
          <button class="page-link first-page-btn" type="button"
              aria-label="Πρώτη σελίδα">
            <i class="bi bi-chevron-double-left"></i>
          </button>
        </li>
        <li class="page-item">
          <button class="page-link prev-page-btn" type="button"
              aria-label="Previous">
            <i class="bi bi-chevron-left"></i>
          </button>
        </li>
        <li class="page-item disabled">
          <span class="page-link">
            <span class="d-inline-block text-end current-page"
                style="width: 20px;">
            </span>
            από
            <span class="d-inline-block text-start page-count"
                style="width: 20px;">
            </span>
          </span>
        </li>
        <li class="page-item">
          <button class="page-link next-page-btn" type="button"
              aria-label="Επόμενη σελίδα">
            <i class="bi bi-chevron-right"></i>
          </button>
        </li>
        <li class="page-item">
          <button class="page-link last-page-btn" type="button"
              aria-label="Τελευταία σελίδα">
            <i class="bi bi-chevron-double-right"></i>
          </button>
        </li>
      </ul>
    </nav>

  </div>
</div>
