<div id="thesis-actions-none" class="d-none">
  <p class="text-muted text-center py-4 m-0">
    Δεν υπάρχουν διαθέσιμες ενέργειες αυτή τη στιγμή.
  </p>
</div>

<div id="thesis-actions-under_examination" class="d-none">
  <div class="mb-3">
    <p class="mb-2">
      <i class="bi bi-info-circle me-2 text-primary"></i>
      Βαθμολογία:
      <span id="grade">
      </span>
    </p>
    <p class="mb-0">
      <i class="bi bi-box-arrow-up-right text-primary me-2"></i>
      Σύνδεσμος Νημέρτη:
      <span id="nemertes-link">
      </span>
    </p>
  </div>

  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-success" id="complete-thesis-btn">
      <i class="bi bi-check2-circle me-1"></i>
      Ολοκλήρωση Διπλωματικής
    </button>
  </div>
</div>

<div id="thesis-actions-active" class="d-none">

  <form id="thesis-approval-form" class="mb-4">
    <h5 class="mb-3 text-success">Έγκριση Διπλωματικής</h5>
    <div class="mb-3">
      <label for="assembly-number-input" class="form-label">
        Αριθμός Γενικής Συνέλευσης (π.χ. 2023/1)
      </label>
      <input type="text" class="form-control" id="assembly-number-input"
          name="assemblyNumber" required>
    </div>
    <div class="mb-3">
      <label for="protocol-number-input" class="form-label">
        Αριθμός Πρωτοκόλλου (ΑΠ)
      </label>
      <input type="text" class="form-control" id="protocol-number-input"
          name="protocolNumber" required>
    </div>
    <div class="d-flex justify-content-end gap-2">
      <button type="reset" class="btn btn-outline-secondary" name="resetButton">
        Επαναφορά
      </button>
      <button type="submit" class="btn btn-success" name="submitButton">
        Έγκριση
      </button>
    </div>
  </form>

  <form id="thesis-cancel-form" class="mb-4">
    <h5 class="mb-3 text-danger">Aπόρριψη Διπλωματικής</h5>
    <div class="mb-3">
      <div class="mb-3">
      <label for="cancel-assembly-number-input" class="form-label">
        Αριθμός Γενικής Συνέλευσης (π.χ. 2023/1)
      </label>
      <input type="text" class="form-control" id="cancel-assembly-number-input"
          name="assemblyNumber" required>
    </div>
      <label for="cancel-reason-input" class="form-label">
        Λόγος Aπόρριψης
      </label>
      <textarea class="form-control" rows="2" id="cancel-reason-input" name="reason" required></textarea>
    </div>
    <div class="d-flex justify-content-end gap-2">
      <button type="reset" class="btn btn-outline-secondary" name="resetButton">
        Επαναφορά
      </button>
      <button type="submit" class="btn btn-danger" name="submitButton">
        Aπόρριψη
      </button>
    </div>
  </form>
</div>
